.app.light {
  --bg-color: #d0d0d0;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #009600;
  --inverted-secondary-color: #0b0;
}
